{% extends "base.html" %}

{% block title %}26 y/o white mexican girl problems - Blog{% endblock %}

{% block content %}
<article class="content-wrapper" data-aos="fade-up">


  <div class="blog-explanation">
    <p><strong>About Me</strong></p>
  <p class="post-meta"><i>April 9, 2026</i></p>
  <p>
  Hello, I'm from a little city in Turkey called Eskisehir. I love eating kebab and watching movies. Unfortunately, I need to work.
  If you'd like to give me a job, please let me know. I worked really hard to come to America and go through immigration. I'd like to see my mom soon.
  I'm learning some data analysis so my wife doesn't leave me. Hopefully, I will be successful in this country, 
  and I will get to help your buisness and travel the world.
 </p>

</article>
{% endblock %}