{% extends "base.html" %}

{% block title %}26 y/o white mexican girl problems - Blog{% endblock %}

{% block content %}
<article class="content-wrapper" data-aos="fade-up">


  <div class="blog-explanation">
    <p><strong>texas burbs</strong></p>
  <p class="post-meta"><i>April 9, 2026</i></p>
  <p>
    I'd like to live somewhere I don't need to drive. A walkable city with clean air and local bakeries. Somewhere that doesn't get too cold, and the people don't try to kill me. The life I have is very good, but I don't want to get old here. The food is all so highly processed, the people are too conservative and close-minded, and it feels like everything is trying to take your money. Not even just my money, but my attention, my sleep, my space, my data…. And then I'm taxed when I earn, taxed when I spend, taxed when my earnings have earnings, taxed where I live, 8.25% of what I eat, while I sleep.
  </p>

  <p>
    Property taxes in Texas are so insane. I see probably 283 advertisements while just going to the grocery store down the street. A car wash on every corner, but no sidewalks anywhere. Strip malls line Bandera, hoping to pull you off your soul-sucking commute home to suburban hell. Who is planning the Culebra area? They really make me believe I am never less qualified for a job than I think. Thousands of people funneled down a two-lane road for miles. 7am traffic finds new lows.
  </p>

  <p>
    I'd never even considered improving my life until recently. I've always been content. I've never thought about eating fresh local fruit from a farmer's market near the sea in the afternoon. I've never considered really retiring early and taking more time to rest. Capitalism in America makes one hyper-individualist. I earn to exist, and I exist to earn. I thought it was normal to eat in the car. I've always had a slight obsession with productivity. Even though I'm not sure if I will ever have kids, I'm considering the costs of housing and how that will shape the quality of their schools and consequently, their life. But what if I didn't do any of that.
  </p>

  <p>
    What if I just worked for a few hours a day, watched the sun crawl across the sky, and never sat in 1604 traffic again? I want to eat eggs from a chicken who saw daylight, is that so crazy? and not have everything wrapped in 4 layers of plastic. I'd like to buy my clothes from someone who sews and makes pieces for life. I want to paint and not think of it as a waste of money and space and time. I want to hear the birds sing sweetly as I drink tea next to the people I love as I grow old.
  </p>

</article>
{% endblock %}