{% extends "base.html" %}

{% block title %}Blog - Oguzhan Aydilek{% endblock %}

{% block content %}

</script>

<section class="content-wrapper intro-header-align" data-aos="fade-up">
  <h1>blog</h1>

  <p class="hero-subtitle">
    I'm a turk !

  <p>
    Please get me a job !
  </p>
</section>

<section class="content-wrapper">
  <div class="post-list">

    {% if posts %}
      {% for post in posts %}
      <a href="{{ url_for('blog_post', post_id=post.id) }}" class="post-item" data-aos="fade-up">
        
        <span class="post-date">{{ post.date }}</span>
        
        <span class="post-title">{{ post.title }}</span>
        
        <p class="post-description">
          {{ post.description }}
        </p>
<div class="post-tags">
  {% for tag in post.tags %}
    <span class="tag">#{{ tag }}</span>
  {% endfor %}
</div>
      </a>
      {% endfor %}
    {% else %}
      <p style="opacity: 0.6;">No posts yet.</p>
    {% endif %}

  </div>
</section>

{% endblock %}