{% extends "base.html" %}

{% block title %}Contact - Oguzhan Aydilek{% endblock %}

{% block content %}

</script>

<section class="content-wrapper intro-header-align" data-aos="fade-up">
  <h1>contact</h1>

  <p class="hero-subtitle">
    Show me your words, I'll show you mine.
  </p>

  <p>
   Please help yourself to all the emails you can write here. I'd be happy to hear from you, friend or foe.
  </p>
</section>

<section class="content-wrapper" id="contact-form" data-aos="fade-up">
  <h2 style="font-size: 22.5px; margin-bottom: 1.5rem;">
    I'll write you back soon!
  </h2>

  <form action="https://formspree.io/f/xgvyryjp" method="POST">
    <label for="name">name</label>
    <input type="text" id="name" name="name" required>

    <label for="email">email</label>
    <input type="email" id="email" name="_replyto" required>

    <label for="message">words</label>
    <textarea id="message" name="message" required></textarea>

    <button type="submit">Irreversible Send</button>
  </form>
</section>

<div class="resume-download content-wrapper" style="text-align: center; margin-top: 4rem;" data-aos="fade-up">
  <a href="{{ url_for('static', filename='docs/OGUZHAN AYDILEK RESUME.pdf') }}" download class="resume-link">
    <i class="fas fa-download"></i> grab my resume on the way out
  </a>
</div>

{% endblock %}