{% extends "base.html" %}
{% block title %}Oguzhan Aydilek | Business Analyst{% endblock %}

{% block content %}
<section id="home-hero" class="content-wrapper" data-aos="fade-up">
    <div class="hero-main">
        <div class="intro-header-align">
            <h1>
                <img src="{{ url_for('static', filename='images/transparent_cartoon_me.png') }}" 
                     alt="oguzhan" class="inline-cartoon">
                Hello, my name is Oguzhan
            </h1>
        </div>
        
        <h2 class="hero-subtitle">Buisness Analyst</h2>

        <div class="hero-description">
        <p>
            I'm a data analyst interested in helping companies understand their data. 
        </p>
            
            <div class="cta-area">
                <a href="/projects" class="cta-button">Projects</a>
                <a href="/blog" class="cta-secondary">Learning</a>
            </div>
        </div>
    </div>
</section>

<section id="home-quote" data-aos="fade-up" class="content-wrapper">
    <div class="quote-container">
        <hr class="section-divider">
        <p class="sub-quote">"siktir lan"</p>
    </div>
</section>
{% endblock %}